src/frontEnd/tree/Expr.java
src/frontEnd/tree/Type.java
src/frontEnd/tree/TypeInterface.java
src/frontEnd/tree/Variable.java
src/frontEnd/antlr/BasicLexer.java
src/frontEnd/antlr/BasicParserVisitor.java
src/frontEnd/antlr/BasicParser.java
src/frontEnd/antlr/BasicParserBaseVisitor.java
src/frontEnd/visitor/myVisitor.java
src/frontEnd/semanticCheck/SemanticError.java
src/symbolTable/SymbolTableInterface.java
src/symbolTable/SymbolTable.java
src/Main.java
src/antlr/BasicLexer.java
src/antlr/BasicParser.java
src/antlr/BasicParserVisitor.java
src/antlr/BasicParserBaseVisitor.java
